@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$text-color: #757575;
$text-hover-color: #000;
$background-color: transparent;
$background-color-active-base: #4b545f;
$background-color-active: lighten($background-color-active-base, 10%);
$border-top-color: lighten($background-color-active-base, 15%);
$border-bottom-color: lighten($background-color-active-base, 15%);


.onlyNav{
  p{
    margin: 0;
  }
  nav {          
    font-family: 'Open Sans', sans-serif;
    font-family: "Sinkin Sans 300 Light", sans-serif;
    line-height: 1;  
    width: 100%;
    height: 75px;
    font-size: 12px;      
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    
    :before, :after {
      content: " ";
      display: table;
    }
    :after {
      clear: both;
    }
  
    .nav-contents{
      height: 75px;
      position: relative;      
    }
    
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); /* Semi-transparent dark overlay */
      backdrop-filter: blur(8px); /* Blur effect */
      z-index: 999; /* Behind the navbar */
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }
  
    ul.open ~ ::before {
      opacity: 1;
      pointer-events: all;
    }
  
    ul {
      background: $background-color;
      list-style: none;
      position: relative;
    }
    
    > ul {
      padding: 0;
      margin-top: 0px;
    }
  
    ul:after {
      content: "";
      clear: both;
      display: block;
    }
  
    li {
      float: left;
      position: relative;
      // background-color: #fff;
  
      p, a {
        list-style: none;
        text-decoration: none;
        padding: 20px;
        display: block;
        color: $text-color;
  
        .submenu-icon{
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(50deg) brightness(101%) contrast(104%);
          display: inline-block;
          width: 20px;
          height: 12px;
          margin-right: 10px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }        
        }
      }
    }
  
    .openSub .submenu-icon{
      img{
        transform: scaleY(-1);
        transition: all 0.3s ease-in-out;
      }
    }
  
    li:hover, .submenu.openSub {
      cursor: pointer;
    }
  
    .submenu-button {
      float: right;
      padding-left: 5px;
      position: relative;
    }
  
    .submenu-button::before {
      content: '';
      position: absolute;
      top: 5px;
      display: block;
      width: 9px;
      height: 1px;
      background: $text-color;
      z-index: 99;
      transition: all 0.3s;
    }
  
    .submenu-button::after {
      content: '';
      position: absolute;
      left: 9px;
      top: 1px;
      display: block;
      width: 1px;
      height: 9px;
      transition: all 0.3s;
      background: $text-color;
      z-index: 99;
    }
  
    li:hover .submenu-button::before,
    li:hover .submenu-button::after,
    .active .submenu-button::before,
    .active .submenu-button::after {
      background: $text-hover-color;
    }
  
      /* Navbar Right - Icons */
    .nav-right {
      display: flex;
      align-items: center;
      gap: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      .menu_search {
        width: 20px;
        height: 20px;
        color: white;
        cursor: pointer;
      }
  
      .menu_location {
        width: 20px;
        height: 20px;
        color: white;
        cursor: pointer;
      }
    }
    .nav-left {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      .kerovit_logo{
        width: 110px;
        float: left;
        margin-left: 40px;
        margin-top: -3px;
      }
    }
    
    .nav-icon {
      font-size: 20px;
      cursor: pointer;
      transition: color 0.3s;
    
      &:hover {
        color: $text-hover-color;
      }
    }
    

    transition: all .3s ease-in-out;
    &.scrolled{
      background: $text-color;
    }
  }
  
    .submenu.openSub a {
      color: $text-color;
    }
    
  /*==============MINUS SYMBOL==========*/
  
  /*==============CLOSE SYMBOL==========*/
  .openSub .submenu-button::after, .openSub .submenu-button::before {
  transform: rotate(135deg);
  }
    
  .toggleMenu {
    background-color: transparent !important;
    // display: none;
    list-style: none;
    position: relative;
    line-height: 1;
    font-size: 12px;
    text-align: center;
    // text-transform: uppercase;
    // padding: 20px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    // background-color: $background-color;
    background-color: #fff;
    color: $text-color;
    cursor: pointer;
    width: fit-content;
    

  
    svg{
      height: 30px;
      width: 30px;
      color: white;
    }
  }
    
  /*============SECOND LEVEL============*/
  .submenu ul {
  display: none;
  background: $background-color-active;
  padding: 0;
  position: absolute;
  top: 100%;
  
  img {
      height: 25px;
      float: inline-start;
  }
  }
    
  .submenu li {    
    float: none;
    // border-bottom: 1px solid $border-bottom-color;
    position: relative;
  }
    
  .submenu li a, p {
    padding: 15px 20px;
    color: $text-color;
  }
    
  nav{
  .search-desktop {    
      position: absolute;    
      width: 100%;
      height: 100%;
      opacity: 0;
      bottom: 0;
      z-index: -1;
      transition: all 0.3s ease-in-out;
  
      input{
        all: unset;
        border-bottom: 1px solid $text-color;        
        width: 100%;
        padding: 2px 1rem;
        font-size: 1.1rem;
      }
    
      &.open{
        z-index: 9999;
        bottom: -100%;
        opacity: 1;
        background: rgba(255, 255, 255);
        backdrop-filter: blur(5px);
        // padding: 0 2rem;
      }
    
      .search-desktop-container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 25px;
        height: 100%;
  
        .close_icon{
          cursor: pointer;
          height: 20px;
          width: 20px;
          filter: brightness(0) saturate(100%) invert(44%) sepia(59%) saturate(16%) hue-rotate(343deg) brightness(93%) contrast(90%);
        }
      }

      .search-contents{
        background: white;        
        box-shadow: 0px 16px 9px -10px rgba(0,0,0,0.1);
        .search-message{
          max-width: 1200px;
          width: 100%;
          margin: 0 auto 1rem;
          padding: 0 25px;
        }

        .search-list{
          max-width: 1200px;
          width: 100%;
          margin: 0 auto;
          display: grid;          
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));;
          gap: 15px;           
          padding: 25px;

          &::before{
            content: none;
          }
          p, a{
            color: inherit;
          }
          .list-card{          
            // width: 25%;
            border: 1px solid gray;  
            cursor: pointer;           
            padding: 15px 25px;
            border-radius: 8px;
            img{
              width: 100%;
              height: 100px;
              object-fit: contain;
            }
            p{
              text-align: center;
              margin: 10px 0;
            }
          }

          @media (width < 800px){
            grid-template-columns: 1fr;
            padding: 12px 12px 25px;
            .list-card{
              display: flex;
              align-items: center;
              column-gap: 35px;
              &::after, &::before{
                display: none;
              }
              p{
                text-align: left;
              }
              .list-card-head{
                font-size: 1rem;
                font-weight: 600;
              }
              .list-img{
                height: 60px;
                width: 60px;  
                padding: 5px;
                border-radius: 50%;
                overflow: hidden;
                img{
                  height: 100%;              
                  width: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        } 
      }
    }
  }
    
  /*============MAKING RESPONSIVE============*/
  @media screen and (max-width: 767px) {
  .toggleMenu {
      opacity: 1;
      display: block;
      cursor: pointer;
      background-color: #fff;
      display: flex;
      align-items: center;
      left: 20px;
  }
  .submenu ul {
      position: relative;
      margin-left: 35px;    
  }
  .submenu li a, p {
      padding: 20px;
      color: #000;
      background-color: #fff;
  }
  
  .submenu-button {
      padding-right: 10px;
  }
  
  nav ul.open + .toggleMenu {
      opacity: 1;
  }
  
  nav {
      .the_logo{
      display: none;
      }
      ul {
      display: none;
      margin-top: 10px;
      }
  
      ul.open {
        display: block;
        z-index: 9999;
        background-color: #fff;
        overflow: hidden;
        margin-top: 75px;
        padding: 0;
      }
  
      > ul {
      border-top: 1px solid rgba(120, 120, 120, 0.15);
      }
  
      ul li {
      float: none;
      border-top: 1px solid rgba(120, 120, 120, 0.15);
      }
  }
  // nav.scrolled {
  //   background: rgba(255, 255, 255, 0.9); // Slightly visible background when scrolled
  //   backdrop-filter: blur(5px);
  // }
  
  .nav-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(8px);
      z-index: 999;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
  }
  
  .nav-overlay.active {
      opacity: 1;
      pointer-events: all;
  }
  
  // Navbar background on scroll
  // nav.scrolled {
  //   background: rgba(255, 255, 255, 0.9);
  //   backdrop-filter: blur(5px);
  // }
  
  // Submenu dropdown
  .submenu ul.dropdown {
      display: none;
      position: absolute;
      background: white;
      // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      // border-radius: 8px;
      // padding: 10px;
      width: 200px;
      transition: all 0.3s ease-in-out;
      margin-bottom: 15px;
  
      li{        
        border: none;
        display: flex;
        align-items: center;
        img {          
          margin-right: 6px;
          filter: brightness(0) saturate(100%) invert(54%) sepia(1%) saturate(0%) hue-rotate(70deg) brightness(99%) contrast(85%);
        }
      }
  }
  
  .submenu.active ul.dropdown {
    display: block;
  }
  
  nav .search-desktop {    
    height: 80%;
    input{
      all: unset;
      border-bottom: 1px solid $text-color;        
      width: 100%;
      padding: 2px 1rem;
      font-size: 16px;
    }

    &.open{
      z-index: 9999;
      bottom: -60px;
      opacity: 1;
      background: rgba(255, 255, 255);
      backdrop-filter: blur(5px);      
    }

    .search-desktop-container{      
      gap: 15px;      
    }

  }
  
  }
  // Responsive Styles
  @media screen and (max-width: 600px) {
      // nav {
      //   position: fixed;
      // }
      .submenu ul.dropdown {
      position: static;
      width: 100%;
      }
      .subemnu-icon{
      display: none;
      }
      .hideInDesktop {
      display: block !important;
      float: left;
      height: 29px;
      margin-right: 6px;
      margin-top: -9px;
      }
      .hideInMobile {
        display: none;
      }
      .hidemenuDesktop {
        display: block;
      }

  }
        .hidemenuDesktop {
        display: none;
      }
      .hideInMobile {
        display: block;
      }

  @media screen and (min-width: 768px) {
  nav {
      position: fixed;    
      height: 80px;    
      transition: background 0.4s ease;
  
      .submenu-button{
      display: none !important;
      }
  
      .submenu.openSub .dropdown{
      height: fit-content;
      }
  
      .submenu.openSub a{
      color: #fff;
      }
      .submenu.openSub .dropdown a{
      color: $text-color;
      }
  
      .the_logo{
      position: absolute;
      left: 60px;
      height: 80px;
      width: fit-content;
      display: flex;
      align-items: center;
      img{
          width: clamp(100px, 10vw, 130px);        
          object-fit: contain;
      }
      }
  
      &.scrolled{
      // background: rgba(255, 255, 255, 0.8);
      // backdrop-filter: blur(5px);
      background: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  
        .submenu.openSub a {
            color: $text-color;
        }
    
        .the_logo{
            img{
            filter: brightness(0) saturate(100%) invert(47%) sepia(7%) saturate(25%) hue-rotate(33deg) brightness(96%) contrast(90%);
            }
        }
    
        .submenu-icon{
            filter: brightness(0) saturate(100%) invert(47%) sepia(7%) saturate(25%) hue-rotate(33deg) brightness(96%) contrast(90%);
        }         
    
        .menu_search, .menu_location {            
          color: $text-color !important;
        }
      }
  
      .nav-left {
        // float: left;
    
        .kerovit_logo {
            width: 100px;
            margin-top: 10px;
        }
      }
  
      .nav-right {
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        gap: 30px;
  
      .menu_search {
        width: 20px;
        height: 20px;
        color: white;
          cursor: pointer;
      }
  
      .menu_location {
          width: 20px;
          height: 20px;
          color: white;
          cursor: pointer;
      }
      }
      &.scrolled{
      .nav-right{
          img{
          filter: brightness(0) saturate(100%) invert(47%) sepia(7%) saturate(25%) hue-rotate(33deg) brightness(96%) contrast(90%);
          }
      }
      }
      
      &.scrolled{
      ul{
          li {
           p, a {
              color: $text-color;
          }
          }
      }
      }
  
      ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      height: 100%;
      width: fit-content;
  
      li {
          position: relative;
  
          p, a {
            padding: 20px 10px;
            font-size: 14px;
            color: white;
            transition: color 0.3s ease;
            text-decoration: none;
          }
  
          &.submenu:hover {
          .dropdown {
              display: block;
          }
  
          .submenu-button::before,
          .submenu-button::after {
              background: #000;
          }
          }
  
          .submenu-button {
          margin-left: 5px;
          display: inline-block;
          vertical-align: middle;
  
          &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 100%;
              width: 10px;
              height: 1px;
              background: #757575;
              transform: translateY(-50%);
          }
  
          &::after {
              content: '';
              position: absolute;
              top: 46%;
              left: 105%;
              width: 1px;
              height: 10px;
              background: #757575;
          }
          }
  
          .dropdown {
            display: none;
            position: absolute;
            top: 70px;
            left: 0;
            transform: translate(-30%, 0);
            // background: rgba(255, 255, 255, 0.9);
            // backdrop-filter: blur(5px);
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 10px;
            // width: clamp(220px, 50vw, 500px);
            min-width: 220px;
            z-index: 10;
  
  
            li {
                padding: 0;
                display: flex;
                align-items: center;
    
                img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                margin-left: 15px;

                  filter: brightness(0) saturate(100%) invert(54%) sepia(1%) saturate(0%) hue-rotate(70deg) brightness(99%) contrast(85%);
                  height: 20px;
                  width: 20px;
                }
    
                a {
                color: #757575;
                padding: 10px 0;
                width: 100%;
    
                &:hover {
                    color: #000;
                }
                }
            }
          }
      }
      }
  
      .toggleMenu {
      display: none; // Hide burger menu on desktop
      }
  
      .nav-overlay {
      display: none; // No overlay in desktop view
      }
  }
  }
    
  .hideInDesktop {
  display: none;
  }
  
  .moreIcon {
    float: left !important;
    // height: 29px !important;
    margin-right: 6px !important;
  }
}